body{
    color:#5e6d82;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

}
.hljs {
    padding: 0 10px !important;
}
pre{
    border-radius: 4px;
    border: 1px solid #eaeefb;
}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 4px;
    background-color: #fff;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 4px;
    background-color: hsla(220,4%,58%,.5);
}

/*登陆*/
@media (min-width: 700px){
    .nav{
        width:250px; 
    }
    .content{
        padding-left:250px;
    }
    .btn-nav{
        display:none;
    }
}
@media (max-width: 700px){
    .nav{
        width:0;
    }
    .content{
        padding-left:0;
    }
    .btn-nav{
        display: block;
    }
    .show-nav{
        background:#fff;
        &.nav{
            width:250px;
        }
    }
}