@import "variables";
@import "lib/function";
@import "base/normalize";
@import "base/icon";
// @import "base/baseIcon";
@import "base/layout";
@import "base/type";
@import "base/button";
@import "base/badge";
@import "base/border";
// @import "base/form";
@import "base/animate";
@import "base/listGroup";
@import "ui/notice";
// @import "ui/mask";
@import "ui/popup";

@import "effect/hover";

@import "global";

html{
	background:#292536;
	background-image:repeating-linear-gradient(45deg,
      hsla(0,0%,100%,.1),
      hsla(0,0%,100%,.1) 5px,
      transparent 0,
      transparent 10px),
      repeating-linear-gradient(-45deg,
      hsla(0,0%,100%,.1),
      hsla(0,0%,100%,.1) 5px,
      transparent 0,
      transparent 10px);
}
html,body{
	height:100%;
}
.borderb{
	border-color:#8773b1;
}
.strokeFill{
      stroke:#7966a0;
      stroke-width: 1;
}
.svgBox{
      border-radius:4px;
      box-shadow: 0px 0px 20px #222;
}